# STAT FINAL EXAM

### We combined four datasets in single CSV file mention below columns belongs to 

#### Stock dataset:
Sample data of annual return of shares in 2015 - 2016 for different sectors is collected. 
    
 * consumer stock
 * service stock
 * industrial stock

    
#### Loan dataset :     
 A sample of data was collected from the past loan records 
 
*  Loan_status
*  Profession

    
#### Insurance dataset :     
It consists of data about 

*  age
*  sex
*  bmi
*  children
*  smoker
*  region
*  charges
    
#### Admission dataset :     
The data set consists of complete educational details of students right from their schooling to MBA and previous work experience.

*  SlNo 
*  Gender
*  Percent_SSC    
*  Board_SSC   
*  Percent_HSC   
*  Board_HSC    
*  Stream_HSC   
*  Percent_Degree   
*  Course_Degree   
*  Experience_Yrs    
*  Entrance_Test    
*  Percentile_ET    
*  Percent_MBA    
*  Specialization_MBA    
*  Marks_Communication    
*  Marks_Projectwork    
*  Marks_BOCA    
*  Placement    
*  Salary

## Kindly change the below cells from markdown to code and execute it

import pandas as pd

import csv

with open("data_set.csv","r")as file:
    
    reader=csv.reader(file)

df=pd.read_csv("data_set.csv")

df.head()

In [ ]:
Admission = df.iloc[:391,:19]
Admission.head()

,SlNo,Gender,Percent_SSC,Board_SSC,Percent_HSC,Board_HSC,Stream_HSC,Percent_Degree,Course_Degree,Experience_Yrs,Entrance_Test,Percentile_ET,Percent_MBA,Specialization_MBA,Marks_Communication,Marks_Projectwork,Marks_BOCA,Placement,Salary
0,1.0,M,62.00,Others,88.00,Others,Commerce,52.00,Science,0.0,MAT,55.0,58.80,Marketing & HR,50.0,65.0,74.0,Placed,270000.0
1,2.0,M,76.33,ICSE,75.33,Others,Science,75.48,Computer Applications,1.0,MAT,86.5,66.28,Marketing & Finance,69.0,70.0,75.0,Placed,200000.0
2,3.0,M,72.00,Others,78.00,Others,Commerce,66.63,Engineering,0.0,NaN,0.0,52.91,Marketing & Finance,50.0,61.0,59.0,Placed,240000.0
3,4.0,M,60.00,CBSE,63.00,CBSE,Arts,58.00,Management,0.0,MAT,75.0,57.80,Marketing & Finance,54.0,66.0,62.0,Placed,250000.0
4,5.0,M,61.00,CBSE,55.00,ISC,Science,54.00,Engineering,1.0,MAT,66.0,59.43,Marketing & HR,52.0,65.0,67.0,Placed,180000.0

In [ ]:
Insurance = df.iloc[:,19:26] 
Insurance.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [ ]:
Loan = df.iloc[:885,26:28] 
Loan.head()

  Loan_status Profession
0     Default    Lawyers
1     Default    Lawyers
2     Default    Lawyers
3     Default    Lawyers
4     Default    Lawyers

In [ ]:
Stock = df.iloc[:30,28:31]
Stock.head()

   consumer stock  service stock  industrial stock
0            6.32          13.70              6.74
1           14.73           3.58              7.11
2           11.95           1.36              5.69
3           12.36          17.41              2.48
4           10.28          10.01              5.42

# SECTION A: 20 MARKS

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#7d5b06;">1. Within a school district, students were randomly assigned to one of two Math teachers - Mrs. Smith and Mrs. Jones. After the assignment, Mrs. Smith and Mrs. Jones had 30 students each.At the end of the year, each class took the same standardized test. The scores are of students are given below.Test the hypothesis that weather Mrs. Smith and Mrs. Jones are equally effective teachers. Use a 0.05 level of significance.


Mrs_Smith = [66,68,71,62,63,63,88,87,89,85,98,91,54,53,69,58,70,86,84,87,87,66,61,60,56,77,75,71,70,59,62,63]

Mrs_Jones = [71,80,81,87,64,68,60,72,71,77,39,88,63,55,64,63,71,71,48,63,77,49,67,69,56,44,48,77,63,88,67,67]

A. Frame Null and Alternate Hypothesis ( 1 Mark)

B. State which test to be performed  (1 Mark)

C. Perform the test  (2 Mark)

D. Interpret the results  (1 Mark)

### 2. Share Raja Khan ( SRK ) is a top stock bocker and believes that the average annual stock return depends on the industrial sector. To validate his belief, SRK collected annual return of shares from three different industrial sectors - consumer goods, services, and industrial goods.Sample data of annual return of shares in 2015 - 2016 for different sectors is collected. (use stock data with columns :  )

    ####consumer stock
    ####service stock
    ####industrial stock

a.Frame Your Hypothesis  ( 1 Mark)

b.What test to be performed  ( 1 Mark )

c.Find the test Statistic ( 2 Mark )

d.Interpret the result. ( 1 Mark )

### 3. Consider the Loan data with columns 

    #### Loan_status
    #### Profession
    
### At Kumbakonam Cooperative Bank (KCB) loan defaults (non-performing assets) account for 10%. Mr. Krishna Iyer, Manager at KCB strongly believes that the proportion of defaults is dependent on the profession of the applicants since certain professions have higher probability of job loss. A sample of data was collected from the past loan records to check whether the profession and loan defaults are dependent at alpha = 0.01 ? (use loan data) (5 marks)

### 4.  Out of 1000 people surveyed 600 belonged to urban area and rest to rural area. Out of 1000, there are two types of people who visited other stae and who did not vists other state. Among 500 who visited other states 400 belonged to urban area. Test at 5% level of significance whether 'type of area'( rural or urban)  and 'visiting other states' are dependent?(5 marks)


H0: There is no association between type of area and other states visited.

H1: There is an association between type of area and other states visited.

|    |  Urban |  Rural |
|-----|-------|------|
| Visited | 400 | 100 |
| Not visited | 200 | 300 |

_________________

# SECTION B: 20 MARKS

_________________


<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#7d5b06;">5. Is there evidence to conclude that the number of working hours of Duracell battery is different from the number of working hours of Eveready battery?  State your hypothesis statements and interpretations? Data is given below:(10 marks)

| Duracell||Eveready ||
| ------|  ------ |--------------|-----------------|
| n1=	|    100  | 	n2 =|     	100|
| x1=	|    308  | 	x2=|        254
| Sigma1=|    84	 |     Sigma2=|        67|

### 6. The demand for a particular spare part was found to vary from day to day.  In a sample study the following information was obtained.

|Days         |Monday|Tuesday|Wednesday|Thursday|Friday|Saturday|
|------|-----|-------|---------|--------|------|-------|
|Quantity Demanded |  1124  |  1125  |  1110  |  1120  |  1126  |  1115  |

a. Write the hypothesis.(2 marks)

b. Test the hypothesis at 1% level of significance that the number demanded depends upon the day (3 marks)

c. Test the hypothesis at 1% level of significance that the number demanded depends upon the weekdays and weekend (3 marks)

d. write your interpretations. (2 marks)

_________________

# SECTION C: 30 MARKS

_________________

### 7.	Load the dataset 'Insurance' and answer below question

    #### age
    #### sex
    #### bmi
    #### children
    #### smoker
    #### region
    #### charges

##### a. Do charges of people who smoke differ significantly from the people who don't?(5 Marks)

##### b. Does bmi of males differ significantly from that of females?(5 Marks)

##### c. Is the proportion of smokers significantly different in different genders?(5 Marks)

### 8. The data set consists of complete educational details of students right from their schooling to MBA and previous work experience. Salary is the target variable in the data.
    #### Admission

        SlNo

        Gender

        Percent_SSC

        Board_SSC

        Percent_HSC

        Board_HSC

        Stream_HSC

        Percent_Degree

        Course_Degree  

        Experience_Yrs

        Entrance_Test

        Percentile_ET

        Percent_MBA',

        Specialization_MBA

        Marks_Communication

        Marks_Projectwork

        Marks_BOCA

        Placement

        Salary

Perform the following tasks on the data :

i. List out the features( numerical and categorical) ?  (2 Marks )

ii. Frame Null and Alternate Hypothesis for any 5 tests mentioned to find the association between the categorical variables( 3 marks )

iii. Now perform the required statistical tests to determine what are the significantly associated categorical features in the data (95%  C.I ).      (5 Marks)

iv. Is there any influence of gender on the Salary received ?Frame the hypothesis and perform the test. (2 Marks)

v. Interpret all the above test results. (3 Marks)