<table align="left" width=100%>
    <tr>
        <td width="20%">
            <img src="GL-2.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                  <b> Inclass Exercise <br>(Week - 4)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Import Libraries](#lib)**
2. **[Large Sample Test](#z)**
    - 2.1 - **[Two Sample Z Test](#2z)**
3. **[Small Sample Test](#t)**
    - 3.1 - **[Two Sample t Test (Unpaired)](#2t)**
    - 3.2 - **[Paired t Test](#paired)**
4. **[Chi-Square Test](#chisq)**
5. **[One-way ANOVA](#1way)**

<a id = "lib"> </a>
## 1. Import Libraries

In [ ]:
# !pip install scikit_posthocs

In [1]:
# import 'pandas' 
import pandas as pd 

# import 'numpy' 
import numpy as np

# import subpackage of matplotlib
import matplotlib.pyplot as plt

# import 'seaborn'
import seaborn as sns

# to suppress warnings 
from warnings import filterwarnings
filterwarnings('ignore')

# import statsmodels
import statsmodels.api as sm

# import 'stats' package from scipy library
from scipy import stats

# import statistics to perform statistical computations
import statistics

# to test the normality 
from scipy.stats import shapiro

# import a library to perform Z-test
from statsmodels.stats import weightstats as stests

# import statsmodels
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

# import the functions to perform Chi-square tests
from scipy.stats import chi2_contingency
from scipy.stats import chi2
from scipy.stats import chisquare

# function to perform post-hoc test
import statsmodels.stats.multicomp as mc

# import function to perform post-hoc
# install scikit_posthocs using "!pip install scikit_posthocs" 
import scikit_posthocs

<a id = "z"> </a>
## 2. Large Sample Test

<a id = "2z"> </a>
## 2.1 Large Two Sample Test

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. The technician wants to test whether the price of a phablet is not the same as the price of tablet. For the study, the technician collects the data of 50 gadgets of each type. Check whether the data satisfies the conditions to use the two sample Z-test. (Use 5% level of significance)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Consider the dataset given in the CSV file `electronic.csv`.

To use the two sample Z-test, both the samples should be drawn from a normal population and the population variances should be equal. Let us use the `Shapiro-Wilk` test to check the normality of the data and use `Levene's` test to test the equality of variances.

In [2]:
# read the data 
df_elec = pd.read_csv('electronic.csv')

# display the first two observations
df_elec.head(2)

   Screensize (inch)  Price ($)  Weight (g)     Type
0                6.5        245         252  Phablet
1                6.3        210         252  Phablet

In [3]:
# consider the price of phablet and tablet
phab_price = df_elec[df_elec['Type'] == 'Phablet']['Price ($)']
tab_price = df_elec[df_elec['Type'] == 'Tablet']['Price ($)']

Let us check the normality of price.

In [4]:
# perform Shapiro-Wilk test for Phablet Price
# shapiro() returns a tuple having the values of test statistics and the corresponding p-value
stat, p_value = shapiro(phab_price)

# print the p-value 
# use round function to round off 3 digits
p_value = round(p_value,3)
print('P-Value:', p_value)

P-Value: 0.205

In [5]:
# perform Shapiro-Wilk test for Tablet Price
# shapiro() returns a tuple having the values of test statistics and the corresponding p-value
stat, p_value = shapiro(tab_price)

# use round function to round off 3 digits
p_value = round(p_value,3)
# print the p-value 
print('P-Value:', p_value)

P-Value: 0.338

From the above result, we can see that the p-value is greater than 0.05, thus we can say that the price of gadgets is normally distributed.

Let us check the equality of variances.

In [6]:
# perform Levene's test
# levene() returns a tuple having the values of test statistics and the corresponding p-value
# pass the price of both gadgets
stat, p_value = stats.levene(phab_price, tab_price)

# use round function to round off 3 digits
p_value = round(p_value,3)

# print the p-value 
print('P-Value:', p_value)

P-Value: 0.417

From the above result, we can see that the p-value is greater than 0.05, thus we can say that the population variances are equal.

Thus we can perform two sample Z-test on the sample data.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. The technician claims that the price of phablet is not the same as the price of tablet. For the study, the technician collects the data of 50 gadgets of each type. Test the technician's claim using the 95% confidence interval.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Consider the dataset given in the CSV file `electronic.csv`.

In [16]:
# read the data 
df_elec = pd.read_csv('electronic.csv')

# display the first two observations
df_elec.head(2)

   Screensize (inch)  Price ($)  Weight (g)     Type
0                6.5        245         252  Phablet
1                6.3        210         252  Phablet

The previous output shows that the given dataset satisfies the assumptions of the two sample Z-test.

Let $\mu_{1}$ be the average price of phablet and $\mu_{2}$ be the average price of tablet.
 
The null and alternative hypothesis is:

H<sub>0</sub>: $\mu_{1} - \mu_{2} = 0$ <br>
H<sub>1</sub>: $\mu_{1} - \mu_{2} \neq 0$

In [17]:
# consider price of phablet
phab_price = df_elec[df_elec['Type'] == 'Phablet']['Price ($)']

# number of phablets
n_1 = len(phab_price)

# mean price 
phab_mean = np.mean(phab_price)

# standard deviation of price 
phab_std = statistics.stdev(phab_price)

# consider price of tablet
tab_price = df_elec[df_elec['Type'] == 'Tablet']['Price ($)']

# number of tablets
n_2 = len(tab_price)

# mean price 
tab_mean = np.mean(tab_price)

# standard deviation of price 
tab_std = statistics.stdev(tab_price)

In [23]:
# calculate the 95% confidence interval for the population mean
# pass the difference between the sample means to the parameter, 'loc'
# pass the scaling factor np.sqrt((nl_std^2 / n1 + (sgl_std^2 / n2)) to the parameter, 'scale'
# Use round funtion to round off the digits
print('95% of confidence interval:',[round(i,3) for i in stats.norm.interval(0.95, loc = phab_mean - tab_mean, 
                                                scale = np.sqrt(((phab_std**2) / n_1) + ((tab_std**2) / n_2)))])

95% of confidence interval: [35.783, 54.937]

Here the confidence interval do not contain the value in the null hypothesis (i.e. 0), thus we reject the null hypothesis and conclude that the price of phablet is not the same as the price of tablet.

<a id="t"></a>
## 3. Small Sample Test

<a id="2t"></a>
## 3.1. Two sample T test Unpaired

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. The newspaper agency wants to test whether Harry takes less time to deliver the newspapers than his colleague Ron. The manager has collected time (in minutes) taken by Harry and Ron for 7 days. Is the given dataset unpaired? If yes, check whether the manager at newspaper agency can use the two sample t-test for unpaired data with 99% confidence.  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
    harry = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5]
    ron = [19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]

The given data is the time taken by Harry and Ron to deliver the newspapers. As the time taken by them is not dependent on each other. This data is unpaired. Now to use the two sample t-test let us check the normality of the samples and equality of population variances for both the samples.

In [24]:
# given data
harry = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5]
ron = [19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]

# time taken by Harry and Ron
time = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5, 19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]

Let us check the normality of the time taken by Harry and Ron.

In [26]:
# perform Shapiro-Wilk test to test the normality
# shapiro() returns a tuple having the values of test statistics and the corresponding p-value
stat, p_value = shapiro(harry)

# use round function to round off the values
p_value = round(p_value,3)

# print the p-value 
print('P-Value:', p_value)

P-Value: 0.997

The p-value is greater than 0.01, thus we can say that the time taken Harry and Ron is normally distributed.

Lets check shapiro test for individual data.

In [29]:
# perform Shapiro-Wilk test to test the normality
# shapiro() returns a tuple having the values of test statistics and the corresponding p-value
stat, p_value = shapiro(harry)

# use round function to round off the values
p_value = round(p_value,3)

# print the p-value 
print('P-Value:', p_value)

P-Value: 0.575

In [30]:
# perform Shapiro-Wilk test to test the normality
# shapiro() returns a tuple having the values of test statistics and the corresponding p-value
stat, p_value = shapiro(ron)

# use round function to round off the values
p_value = round(p_value,3)

# print the p-value 
print('P-Value:', p_value)

P-Value: 0.918

The p-value is greater than 0.01 for both shapiro tests, Thus we can say that the time taken Harry and Ron is normally distributed.

Let us check the equality of variances.

In [28]:
# perform Levene's test
# levene() returns a tuple having the values of test statistics and the corresponding p-value
stat, p_value = stats.levene(harry, ron)

# use round function to round off the values
p_value = round(p_value,3)

# print the p-value 
print('P-Value:', p_value)

P-Value: 0.727

From the above result, we can see that the p-value is greater than 0.01, thus we can say that the population variances are equal.

The above results show that the given data satisfies both the assumptions for two sample t-test. Thus the manager at newspaper agency can use the two sample t-test for unpaired data.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. The newspaper agency wants to test whether Harry takes less time to deliver the newspapers than his colleague Ron. The manager has collected time (in minutes) taken by Harry and Ron for 7 days. Use the given data and test the hypothesis for population mean time using a critical value method and p-value criteria with 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
    harry = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5]
    ron = [19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]

Let $\mu_{1}$ be the average time taken by Harry and $\mu_{2}$ be the average time taken by Ron.
 
The null and alternative hypothesis is:

H<sub>0</sub>: $\mu_{1} - \mu_{2} \geq 0$ <br>
H<sub>1</sub>: $\mu_{1} - \mu_{2} < 0$

In [7]:
# given data
harry = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5]
ron = [19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]

# size of first sample
n_1 = len(harry)

# size of second sample
n_2 = len(ron)

# degrees of freedom for 2 sample t-test
print('Degrees of freedom:', n_1 + n_2 - 2)

Degrees of freedom: 12

Here ⍺ = 0.1 and degrees of freedom = 12, for a one-tailed test let us calculate the critical t-value.

In [16]:
# calculate the t-value for 90% of confidence level
# use 'stats.t.isf()' to find the t-value corresponding to the upper tail probability 'q'
# pass the value of 'alpha' to the parameter 'q', here alpha = 0.1
# pass the degrees of freedom to the parameter, 'df' 
# use 'round()' to round-off the value to 2 digits
t_val = np.abs(round(stats.t.isf(q = 0.1, df = 12), 2))

print('Critical value for one-tailed t-test:', t_val)

Critical value for one-tailed t-test: 1.36

i.e. if t is less than -1.36 then we reject the null hypothesis.

In [21]:
# use 'ttest_ind()' to calculate the test statistic
# pass the sample data to the parameter, 'a' and 'b'
t_stat, p_val = stats.ttest_ind(a = harry, b = ron)

In our example, the hypothesis test is one-tailed. Thus, we divide the two-tailed probability by 2 to obtain the one-tailed probability.

In [22]:
# divide the p-value by 2
req_p_val = p_val/2

# use round function tp round-off 3 digits
t_stat = round(t_stat,3)

# use round function to round-off 3 digits
req_p_val = round(req_p_val,3)

# print the test statistic value and corresponding p-value
print('Test Statistic:', t_stat)
print('p-value:', req_p_val)

Test Statistic: -2.879
p-value: 0.007

The above output shows that the test statistic value is less than -1.36 also, the p-value is less than 0.1. Thus we reject the null hypothesis and conclude that Harry takes less time to deliver the newspapers than Ron.

# Or use below method:

In [25]:
results = ['statistics_value','P value']
# use round funtion to round-off the values
print({results[i]:round(j,3) for i,j in enumerate(stats.ttest_ind(a = harry, b = ron,alternative='less'),start=0)})

{'statistics_value': -2.879, 'P value': 0.007}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Research suggests that the fat content (in g) in the rice-bran oil of Nutura products is less than that of Markgen products. To test this claim we have recorded the fat content in 6 packs of 100 g oil from both the companies. Consider a 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Given data:

        Nutura_fat = [99.5, 98, 98.6, 98.2, 96.8, 98.4]
        Markgen_fat = [ 98.7, 91.8, 92.6, 97.5, 93, 96.1]

The null and alternative hypothesis is:

H0 = m1 - m2 >= 0

H1 = m1 - m2 <0

Let us check the normality of the data.

In [26]:
# given data
Nutura_fat = [99.5, 92, 98.6, 98.2, 96.8, 98.4]
Markgen_fat = [ 98.7, 91.8, 92.6, 97.5, 93, 96.1]

fat = [99.5, 92, 98.6, 98.2, 96.8, 98.4, 98.7, 91.8, 92.6, 97.5, 93, 96.1]

# perform Shapiro-Wilk test to test the normality
# shapiro() returns a tuple having the values of test statistics and the corresponding p-value
# pass the fat content in both products to perform the test
stat, p_value = shapiro(fat)

# round funtion to round off 3 digits
stat = round(stat,3)
p_value = round(p_value,3)

# print the test statistic and corresponding p-value 
print('Test statistic:', stat)
print('P-Value:', p_value)

Test statistic: 0.848
P-Value: 0.035

From the above result, we can see that the p-value is greater than 0.01, thus we can say that the data is  normally distributed.

In [27]:
# compute test statistic and corresponding p-value for one-tailed test
test_stat, p_value = stats.ttest_ind(Nutura_fat, Markgen_fat, alternative = 'less')

# round funtion to round off 3 digits
p_value = round(p_value,3)

# print the p-value
print('p-value:', p_value)

p-value: 0.908

Here the p-value is greater than 0.01. Thus we fail to reject (i.e. accept) the null hypothesis and we can not conclude that the fat content (in g) in the rice-bran oil of Nutura products is less than that of Markgen products.

<a id='paired'></a>
## 3.2.Two sample paired T-test

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                        <b>6. The pharmaceutical company had organized a program to introduce its new drug to lower the sugar level. They recorded the fasting sugar (in mg/dl) of 25 diabetic people. Those people undergo a medication of the new drug for 10 days and again took a fasting sugar level test. The company claim that the sugar level decreases due to its new drug. Test the claim using p-value technique with 95% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given in the file `sugar_level.xlsx`

In [28]:
# given data
df_sugar = pd.read_excel('sugar_level.xlsx')

# print the first 3 observations
df_sugar.head(3)

   sugar_before  sugar_after
0           135          132
1           132          136
2           142          139

Let us check the normality of the sugar level before the medication.

In [12]:
# perform Shapiro-Wilk test to test the normality
# shapiro() returns a tuple having the values of test statistics and the corresponding p-value
stat, p_value = shapiro(df_sugar['sugar_before'])

# use round function to round off the values
p_value = round(p_value,3)

# print the p-value 
print('P-Value:', p_value)

P-Value: 0.08

From the above result, we can see that the p-value is greater than 0.05, thus the sugar level before the medication is normally distributed.

Let us check the normality of the sugar level after the medication.

In [29]:
# perform Shapiro-Wilk test to test the normality
# shapiro() returns a tuple having the values of test statistics and the corresponding p-value
stat, p_value = shapiro(df_sugar['sugar_after'])


# use round function to round off the values
p_value = round(p_value,3)

# print the p-value 
print('P-Value:', p_value)

P-Value: 0.057

In [30]:
# perform Levene's test
# levene() returns a tuple having the values of test statistics and the corresponding p-value
stat, p_value = stats.levene(df_sugar['sugar_before'], df_sugar['sugar_after'])

# use round function to round off the values
p_value = round(p_value,3)

# print the p-value 
print('P-Value:', p_value)

P-Value: 0.917

From the above result, we can see that the p-values from shapiro and levene tests are greater than 0.05, thus the sugar level after the medication is normally distributed.

The null and alternative hypothesis is:

H<sub>0</sub>: The new drug was not effective in reducing the fasting sugar level ($\mu_{d} \geq 0$)<br>
H<sub>1</sub>: The new drug was effective in reducing the fasting sugar level ($\mu_{d} < 0$)

In [32]:
# use 'ttest_rel()' to calculate the t-statistic and corresponding p-value for paired samples
# pass the after and before stress levels to the function
t_stat, p_val = stats.ttest_rel(df_sugar['sugar_after'], df_sugar['sugar_before'])

# print the p-value 
print("p-value:", p_val)

p-value: 2.108941394582287e-05

We can see that the p-value is less than 0.05. Thus, we reject the null hypothesis and conclude that the new drug was effective in reducing the fasting sugar level.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. The gym trainer claims that the new aerobic exercise has reduced the weight of the customers. The weight in the last month before the aerobic exercise and weight in this month after the aerobic exercise is recorded for 6 people. Test the trainer's claim with 99% confidence.  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Given data:

        wt_before = [85, 74, 63.5, 69.4, 71.6, 65]
        wt_after = [82, 71, 64, 65.2, 67.8, 64.7]

The null and alternative hypothesis is:

H<sub>0</sub>: $M_{d} \leq 0$<br>
H<sub>1</sub>: $M_{d} > 0$

Let us check the normality of the data.

In [35]:
# given weights
wt_before = [85, 74, 63.5, 69.4, 71.6, 65]
wt_after = [82, 71, 64, 65.2, 67.8, 64.7]

# perform Shapiro-Wilk test to test the normality
# shapiro() returns a tuple having the values of test statistics and the corresponding p-value
# pass the weight before to perform the test
stat, p_value = shapiro(wt_before)

# use round function to round off the values
stat = round(stat,3)
p_value = round(p_value,3)

# print the test statistic and corresponding p-value 
print('Test statistic:', stat)
print('P-Value for Weights Before:', p_value)

Test statistic: 0.915
P-Value for Weights Before: 0.47

In [36]:
# perform Shapiro-Wilk test to test the normality
# shapiro() returns a tuple having the values of test statistics and the corresponding p-value
# pass the weight after to perform the test
stat, p_value = shapiro(wt_after)

# use round function to round off the values
stat = round(stat,3)
p_value = round(p_value,3)

# print the test statistic and corresponding p-value 
print('Test statistic:', stat)
print('P-Value for Weights Before:', p_value)

Test statistic: 0.793
P-Value for Weights Before: 0.051

From the above result, we can see that the both p-values are greater than 0.01, thus we can say that the data is normally distributed.

In [43]:
# pass the one-tailed condition to the parameter, 'alternative'
test_stat, p_value = stats.ttest_rel(wt_before,wt_after, alternative = 'greater')

# use round function to round off the values
p_value = round(p_value,3)

# print the p-value
print('p-value:', p_value)

p-value: 0.017

Here the p-value is greater than 0.01, thus we do not reject the null hypothesis and conclude that there is no evidence to conclude that the new aerobic exercise has reduced the weight.

<a id = "chisq"> </a>
## 4. Chi-Square Test

Use the data available in the CSV file `Employee_Attrition.csv`.

In [51]:
# read the sample data 
df_emp = pd.read_csv('Employee_Attrition.csv')

# display the first two observations
df_emp.head(2)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. A company in Los Angeles has three functional departments - Research and Development, Sales, and Human Resources. The company claims that the percentage of employees in these 3 departments is 55%, 35% and 10% respectively. Check the company's claim using p-value criteria. Consider a 5% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

The null and alternative hypothesis is:

H<sub>0</sub>: There is no significant difference between the observed and expected values. <br>
H<sub>1</sub>: There is a significant difference between the observed and expected values.

In [52]:
# observed values
df_emp['Department'].value_counts()

Research & Development    961
Sales                     446
Human Resources            63
Name: Department, dtype: int64

In [53]:
# given observed values
observed_value = [961, 446, 63]

# expected percentage 
exp_count = [0.55, 0.35, 0.10]

# calculate the expected values for each category
expected_value = np.array(exp_count) * len(df_emp)

# round-off the values to integers
expected_value = round(pd.Series(expected_value))

# use the 'chisquare()' to perform the goodness of fit test
# the function returns the test statistic value and corresponding p-value
# pass the observed values to the parameter, 'f_obs'
# pass the expected values to the parameter, 'f_exp'
stat, p_value = chisquare(f_obs = observed_value, f_exp = expected_value)

print('p-value:', p_value)

p-value: 2.642446152388858e-19

The above output shows that the p-value is less than 0.05. Thus, we reject the null hypothesis and conclude that the company's claim is not correct. i.e. the distribution of employees in a company is not as per the company's claim.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. The employees in an IT firm undergo an online assessment survey. The survey reveals that 20% of employees are least satisfied, 18% are fairly satisfied, 30% are moderately satisfied and 32% are highly satisfied with their job. Use a critical value method to test the survey result with 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

The null and alternative hypothesis is:

H<sub>0</sub>: There is no significant difference between the observed and expected values. <br>
H<sub>1</sub>: There is a significant difference between the observed and expected values.

1 : Least satisfied
2 : Fairly satisfied
3 : Moderately satisfied
4 : Highly satisfied

In [54]:
# observed values
df_emp['JobSatisfaction'].value_counts()

4    459
3    442
1    289
2    280
Name: JobSatisfaction, dtype: int64

As the job satisfaction level is categorical; change the data type of the variable to `object`.

In [55]:
df_emp['JobSatisfaction'] = df_emp['JobSatisfaction'].astype('object')

For ⍺ = 0.1 and degrees of freedom (= 4-1) = 3, calculate the critical value.

In [56]:
# calculate the χ2-value for 90% of confidence level
# use 'stats.chi2.isf()' to find the χ2-value corresponding to the upper tail probability 'q'
# pass the value of 'alpha' to the parameter 'q', here alpha = 0.1
# pass the degrees of freedom to the parameter 'df' 
# use 'round()' to round-off the value to 4 digits
chi2_val = np.abs(round(stats.chi2.isf(q = 0.1, df = 3), 4))

print('Critical value for chi-square test:', chi2_val)

Critical value for chi-square test: 6.2514

i.e. if the chi-square value is greater than 6.2514 then we reject the null hypothesis.

In [57]:
# observed values
observed_value = [289, 280, 442, 459]

# expected percentage 
exp_count = [0.2, 0.18, 0.3, 0.32]

# calculate the expected values for each category
expected_value = np.array(exp_count) * len(df_emp)

# round-off the values to integers
expected_value = round(pd.Series(expected_value))

# use the 'chisquare()' to perform the goodness of fit test
# the function returns the test statistic value and corresponding p-value
# pass the observed values to the parameter, 'f_obs'
# pass the expected values to the parameter, 'f_exp'
stat, p_value = chisquare(f_obs = observed_value, f_exp = expected_value)


# use round function to round off the values
stat = round(stat,3)

print('Test statistic:', stat)

Test statistic: 1.194

The above output shows that the test statistic is less than 6.2514. Thus, we fail to reject (i.e. accept) the null hypothesis and conclude that there is no difference in the sample percentage and the percentage revealed by the survey.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Check whether travelling for work depends upon the job role of an employee. Use p-value criteria to test the dependence with 99% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

The null and alternative hypothesis is:

H<sub>0</sub>: Business travel and job role are independent<br>
H<sub>1</sub>: Business travel and job role are not independent

In [58]:
# use 'crosstab()' to create a table for each type of business travel and job role 
table = pd.crosstab(df_emp['BusinessTravel'], df_emp['JobRole'])

# observed values  
observed_value = table.values
observed_value

array([[ 15,   4,  28,  12,  13,   6,  28,  39,   5],
       [ 26,  10,  51,  13,  29,  12,  54,  59,  23],
       [ 90,  38, 180,  77, 103,  62, 210, 228,  55]], dtype=int64)

In [59]:
# use the 'chi2_contingency()' to check the independence of variables
# the function returns the test statistic value, corresponding p-value, degrees of freedom of the test and expected values
# pass the observed values to the parameter, 'observed'
# 'correction = False' will not apply the Yates' correction
test_stat, p, dof, expected_value = chi2_contingency(observed = observed_value, correction = False)

# use round function to round off the values
p = round(p,3)

print("p-value:", p)

p-value: 0.745

The above output shows that the p-value is greater than 0.01, thus we fail to reject (i.e. accept) the null hypothesis and conclude that the business travel is not dependent on the job role.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Is there any relationship between the attrition of an employee and his/her marital status? Use the critical value technique to test the relationship with 95% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

The null and alternative hypothesis is:

H<sub>0</sub>: Attrition and marital status are independent<br>
H<sub>1</sub>: Attrition and marital status are not independent

In [63]:
# use 'crosstab()' to create a table for each attrition level and marital status 
table = pd.crosstab(df_emp['Attrition'], df_emp['MaritalStatus'])

# observed values  
observed_value = table.values
observed_value

array([[294, 589, 350],
       [ 33,  84, 120]], dtype=int64)

For ⍺ = 0.05 and degrees of freedom (= 1x2) = 2, calculate the critical value.

In [64]:
# calculate the χ2-value for 95% of confidence level
# use 'stats.chi2.isf()' to find the χ2-value corresponding to the upper tail probability 'q'
# pass the value of 'alpha' to the parameter 'q', here alpha = 0.05
# pass the degrees of freedom to the parameter 'df' 
# use 'round()' to round-off the value to 4 digits
chi2_val = np.abs(round(stats.chi2.isf(q = 0.05, df = 2), 4))

print('Critical value for chi-square test:', chi2_val)

Critical value for chi-square test: 5.9915

i.e. if the chi-square value is greater than 5.9915 then we reject the null hypothesis.

In [65]:
# use the 'chi2_contingency()' to check the independence of variables
# the function returns the test statistic value, corresponding p-value, degrees of freedom of the test and expected values
# pass the observed values to the parameter, 'observed'
# 'correction = False' will not apply the Yates' correction
test_stat, p, dof, expected_value = chi2_contingency(observed = observed_value, correction = False)


# use round function to round off the values
test_stat = round(test_stat,3)

print("Test statistic:", test_stat)

Test statistic: 46.164

The above output shows that the test statistic is greater than 5.9915, thus we reject the null hypothesis and conclude that attrition and marital status are dependent.

<a id = "1way"> </a>
## 6. One-way ANOVA

Use the data available in the CSV file `sales_emp.csv`.

In [66]:
# read the sample data 
df_emp = pd.read_csv('sales_emp.csv')

# display the first two observations
df_emp.head(2)

,Age,BusinessTravel,DailyRate,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,36,Travel_Rarely,1218,9,4,Life Sciences,1,27,3,82,...,2,80,0,10,4,3,5,3,0,3
1,39,Travel_Rarely,895,5,3,Technical Degree,1,42,4,56,...,3,80,1,19,6,4,1,0,0,0

 <table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Use the sales employees' dataset to test whether the average monthly income of sales executives with different education background is equal or not. Use a critical value method with 99% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

The null and alternative hypothesis is:

H<sub>0</sub>: The average monthly income for all the education fields is the same<br>
H<sub>1</sub>: The average monthly income due to at least one education field is different

In [67]:
# number of education fields in the data
df_emp['EducationField'].nunique()

5

In [68]:
# total sample observations
len(df_emp)

54

Here t (=number of education fields) = 5, N (=total observations) = 54 

For ⍺ = 0.05 and degrees of freedom = (t-1, N-t) = (4, 49), calculate the critical value.

In [69]:
# calculate the F-value for 95% of confidence level
# use 'stats.f.isf()' to find the F-value corresponding to the upper tail probability 'q'
# pass the value of 'alpha' to the parameter 'q', here alpha = 0.01
# pass the degrees of freedom (= 4) to the parameter 'dfn' 
# pass the degrees of freedom (= 49) to the parameter 'dfd' 
# use 'round()' to round-off the value to 4 digits
f = np.abs(round(stats.f.isf(q = 0.01, dfn = 4, dfd = 49), 4))

print('Critical value for F-test:', f)

Critical value for F-test: 3.7283

i.e. if the test statistic value is greater than 3.7283 then we reject the null hypothesis.

In [70]:
# perform one-way ANOVA
# pass the given data
test_stat, p_val = stats.f_oneway(df_emp[df_emp['EducationField'] == 'Life Sciences']['MonthlyIncome'],
                                  df_emp[df_emp['EducationField'] == 'Technical Degree']['MonthlyIncome'],
                                  df_emp[df_emp['EducationField'] == 'Marketing']['MonthlyIncome'],
                                  df_emp[df_emp['EducationField'] == 'Medical']['MonthlyIncome'],
                                  df_emp[df_emp['EducationField'] == 'Other']['MonthlyIncome'])

# use round function to round off the values
test_stat = round(test_stat,3)

# print the test statistic
print('Test statistic:', test_stat)

Test statistic: 0.955

The above output shows that the test statistic is less than 3.7283. Thus we fail to reject (i.e. accept) the null hypothesis and conclude that the average monthly income for all the education fields is the same.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Can we use the given data of sales executives to check the equality of the average daily rate for different types of business travellers? Use a p-value technique to test at a 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In the given dataset, the `BusinessTravel` is a categorical variable and `DailyRate` is a numeric variable. To use the one-way ANOVA test for the equality of average daily rate for all types of business travelling; the sample data should be drawn from normally distributed population. Also the population variances for all the groups should be equal.

Let us check the normality of the daily rate.

In [71]:
# perform Shapiro-Wilk test to test the normality
# shapiro() returns a tuple having the values of test statistics and the corresponding p-value
stat, p_value = stats.shapiro(df_emp['DailyRate'])

# use round function to round off the values
p_value = round(p_value,3)

# print the p-value
print('p-value:', p_value)

p-value: 0.04

From the above result, we can see that the p-value is greater than 0.01, thus we can say that the daily rate is normally distributed. Thus the assumption of normality is satisfied.

Let us check the equality of variances.

In [72]:
# types of business travel in the data
df_emp['BusinessTravel'].unique()

array(['Travel_Rarely', 'Non-Travel', 'Travel_Frequently'], dtype=object)

In [73]:
# perform Levene's test for the equality of variances 
# levene() returns a tuple having the values of test statistics and the corresponding p-value
# pass the number of defective belts from each group
stat, p_value = stats.levene(df_emp[df_emp['BusinessTravel'] == 'Travel_Rarely']['DailyRate'],
                             df_emp[df_emp['BusinessTravel'] == 'Travel_Frequently']['DailyRate'],
                             df_emp[df_emp['BusinessTravel'] == 'Non-Travel']['DailyRate'])

# use round function to round off the values
p_value = round(p_value,3)


# print the p-value 
print('P-Value:', p_value)

P-Value: 0.231

From the above result, we can see that the p-value is greater than 0.01, thus we can say that the population variances are equal for all the groups.

Thus we can use the one-way ANOVA test to check the equality of the average daily rate for all the types of business travelling.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Use the parametric test to check the equality of the average daily rate for all the types of business travelling. Use a p-value technique to test the data with 99% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

The null and alternative hypothesis is:

H<sub>0</sub>: The average daily rate for all the business travels is the same<br>
H<sub>1</sub>: The average daily rate for at least one type of business travel is different

In [77]:
# perform one-way ANOVA
# pass the given data
test_stat, p_val = stats.f_oneway(df_emp[df_emp['BusinessTravel'] == 'Travel_Rarely']['DailyRate'],
                                  df_emp[df_emp['BusinessTravel'] == 'Travel_Frequently']['DailyRate'],
                                  df_emp[df_emp['BusinessTravel'] == 'Non-Travel']['DailyRate'])

# print the p-value
print('p-value:', p_val)

p-value: 4.527131533131016e-06

The above output shows that the p-value is less than 0.01. Thus we reject the null hypothesis and conclude that the average daily rate for at least one type of business travel is different.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Find the types of business travel for which the average daily rate is different. Use a 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

The previous output shows that the one-way ANOVA rejects the null hypothesis. This implies that there is at least one of the types of business travel for which the daily rate of an employee is different.

In [85]:
# number of employees for each type of business travel 
df_emp['BusinessTravel'].value_counts()

Travel_Rarely        18
Non-Travel           18
Travel_Frequently    18
Name: BusinessTravel, dtype: int64

The count of employees for each type of business travel is equal. Thus we use the Tukey hsd test for post-hoc analysis.

In [86]:
# perform tukey's range test to compare the mean daily rate for pair of business travels
# pass the daily rate to the parameter, 'data'
# pass the type of business travel to the parameter, 'groups'
comp = mc.MultiComparison(data = df_emp['DailyRate'], groups = df_emp['BusinessTravel'])

# tukey's range test
# pass the alpha value as 0.01 to get the 99% confidence interval 
post_hoc = comp.tukeyhsd(alpha = 0.01)

# print the summary table
post_hoc.summary()

The `reject=False` for pair (Non-Travel, Travel_Rarely) denotes that we fail to reject the null hypothesis; and conclude that the average daily rate for employees who do not travel and employees who travel rarely is same.

The `reject=True` for the pairs (Non-Travel, Travel_Frequently), (Travel_Frequently, Travel_Rarely) denotes that we reject the null hypothesis; and conclude that the average daily rate is not the same.